

#zoom{
    width: 400px;
    height: 600px;
    border: 5px solid red;
    position: relative;
    cursor: zoom-in;
}


#zoom img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0 0;
}
#zoom::after{
    display: var(--display);
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-image: url(../Assets/wiser-by-the-mile-OFHkPCkhYEY-unsplash.jpg);
    background-size: 200%;
    background-position:var(--x) var(--y);
}
